
<div class="">
<h2> Der Sommer ist zum Spaß haben da!</h2>

<p>So sieht wohl die Antwort der meisten Kids aus. Und Spaß haben sie sich nach dem langen Schuljahr auch verdient!

Wir Eltern wünschen uns dennoch für die langen Sommerferien, dass noch an den <strong>Sprachkenntnissen</strong> unserer Liebsten gefeilt werden könnte. Also kombinieren wir doch unsere Wünsche: <strong>Lernen und Spaß!</strong>

Dass dies wirklich machbar ist, haben uns die letzten vier Jahre gezeigt. Schließlich haben die Kids vor lauter guter Laune gar nicht gespürt, dass sie viel gelernt haben. 

Auf Wunsch unserer treuen Kids aus den Vorjahren geht es auch im Sommer 2017 weiter! An der Ostsee werden wir wieder <strong>tolle Freizeitaktivitäten</strong> wie Surfen, Klettern, Wasserskifahren und Paddling unternehmen.&nbsp;

Vor allem werden wir aber auch Freundschaft und Teamgeist erleben.

Ich freue mich auf den Sommer!

Herzliche Grüße

Christine Stutterheim </p>
</div>