<section id="freizeit">

    <div id="entry" class="main entry-header has-background" style="background-image: url(../img/freizeit/Surf_lang.jpg);">
        <h1 class="entry-title">Kräftemessen</h1>		<hr class="short">
				<span class="meta">
			We do amazing things
		</span>

        <span class="overlay"></span>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="field field-name-body field-type-text-with-summary field-label-hidden"><div class="field-items"><div class="field-item even"><div class="row col-md-9 col-md-offset-2 col-sm-9 col-sm-offset-2">
                    <h3>Jeder Tag ist ein EVENT</h3>

                    <h2>SprachSpaß – Die Freizeitaktivitäten</h2>

                    <div class="col-md-6 col-sm-12">
                        <p>Nachmittags unternehmen wir unvergessliche Aktionen mit
                            Eventcharakter. Dabei erleben wir im Team sowohl Action,
                            Mutproben und spannende Herausforderungen als auch romantische
                            Grillabende und gemütliche Beachstunden.</p>


                        <p>Selbstverständlich sind alle Sportaktivitäten auch für Einsteiger und
                            Nicht-Sportskanonen geeignet und jeder hat schnelle Erfolgserlebnisse.
                            So kommen alle Teilnehmer als kleine Helden gestärkt von den Ausflügen
                            zurück.</p>


                        <p>In der Vergangenheit waren wir zum Beispiel im<strong>Klettergarten</strong>, <strong>Surfen</strong>, <strong>Kuttersegeln&nbsp;</strong>und <strong>Floß</strong>
                            bauen. Diese und andere Aktionen stehen auch für dieses Jahr wieder zur
                            Option. Die Aktivitäten sind mit dem Ziel ausgesucht worden,
                            teamfördernd und selbstbewusstseinsstärkend zu sein</p>


                    </div>

                    <div class="col-md-6 col-sm-12"><p>Die Freizeitaktivitäten finden auch bei
                        Regen statt. Bei sehr extrem schlechtem Wetter wie z.B. Starkwind findet
                        ein Alternativprogramm statt.</p>

                        <p>Die körperlichen Herausforderungen und Erfolgserlebnisse stärken u.A. den Geist und den Spirit für das tägliche Lernen.&nbsp;</p>


                    </div>





                </div>
                </div></div></div></div> </div>
        </div>
</section>
