<section id="unterricht">
    <div id="entry" class="main entry-header has-background"
         style="background-image: url(../img/unterricht/Unterricht_Schlossturm.jpg);">
        <h1 class="entry-title">Lernen macht Spaß</h1>
        <hr class="short">
				<span class="meta">
			We do amazing things
		</span>

        <span class="overlay"></span>

    </div>


    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h2>SprachSpaß – Der Unterricht</h2>

                <p>Der Unterricht folgt dem Motto: Lernen muss Spaß machen, dann kommt
                    der Erfolg von ganz allein. Das ist ein großes Ziel, denn in den Ferien
                    gibt es viele andere Aktionen, die mehr Spaß machen als zu lernen.
                    Deshalb wollen wir beim Lernen lachen und Freude haben. Dafür arbeiten
                    wir in den Fremdsprachen mit vielen unterschiedlichen Methoden, so dass
                    das Lernen möglichst nicht als Unterricht empfunden wird. Dazu gehören
                    z.B. Spiele, Schauspielern, Geschichten hören, Lieblingsthemen
                    vorstellen, Regelbücher gestalten und Singen. Das freie, ungenierte
                    Sprechen steht im Vordergrund, dicht gefolgt vom Verstehen und Lesen
                    sowie dem Anwenden von Grammatik. Die Inhalte und das Niveau orientieren
                    sich dabei an dem Hamburger Rahmenlehrplan.</p>
                <p>Insgesamt finden täglich fünf Unterrichtsstunden statt. Vormittags vier
                    Stunden und abends eine Stunde. Am Vormittag gehen wir konzentriert auf
                    die Verbesserung der individuellen Sprachkompetenz ein, während die
                    Abendstunde in Sofa-Ambiente auf die gemütliche Beendigung des Tages
                    einstimmt. Hier sprechen wir auf der Fremdsprache über die Erlebnisse
                    des Tages, lesen Geschichten vor oder spielen Vokabel- und
                    Verblernspiele.</p>

                <h3>Unsere Ziele</h3>
            </div>

            <div class="row col-sm-9 col-sm-offset-3">

                    <div class="row">
                        <div class="col-sm-4 box">
                            <h4>Lernen soll in vertrauensvoller Atmosphäre stattfinden</h4>

                            <p>Wir bemühen uns um eine positive Lernatmosphäre, die vertrauensvoll
                                und teamorientiert ist, damit sich jedes Kind ohne Scheu frei entfalten
                                kann.</p>
                        </div>

                        <div class="col-sm-4 box">
                            <h4>Wir wollen auf jeden Schüler individuell eingehen</h4>

                            <p>Wir kümmern uns um jedes Kind und zielen an, auf die
                                unterschiedlichen Bedürfnisse einzugehen Inhaltlich orientieren
                                wir uns an den Anforderungen des Hamburger Rahmenlehrplans.</p>
                        </div>

                        <div class="col-sm-4 box ">
                            <h4>Wir freuen uns gemeinsam über erreichte Ziele</h4>

                            <p>Um diese Freundschaftsatmosphäre aufzubauen, führen wir
                                Teambuildingaktivitäten durch und gehen sensibel mit Gruppenbildungen
                                um.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 box">
                            <h4>Wir wollen in kleinen Lerngruppen große Erfolge erzielen</h4>

                            <p>In kleinen Gruppen üben wir ungehemmt, punktgenau und sehr konzentriert mit dem Ziel,
                                dass jeder
                                Schüler alle Themen versteht.</p>
                        </div>

                        <div class="col-sm-4 box">
                            <h4>Unterricht soll abwechslungsreich gestaltet sein</h4>

                            <p>Wir arbeiten mit vielen unterschiedlichen Methoden, um die
                                verschiedenen Sinne anzusprechen und gehen zielgerichtet
                                aufunterschiedliche Lerntypen ein.</p>
                        </div>

                        <div class="col-sm-4 box ">
                            <h4>Wir wollen eventuelle Lücken schließen</h4>

                            <p>In angepasstem Tempo wiederholen wir Themen aus dem Vorjahr, lernen
                                diese, wenden sie in unterschiedlichen Kontexten an und legen ein
                                Fundament für Neues.</p>
                        </div>
                    </div>
                </div>
            </div>


</section>
