<section id="warum">

    <div id="entry" class="main entry-header has-background" style="background-image: url(../img/warum/schloss_noer-reitstall.jpg);">
        <h1 class="entry-title">Beelingi.me</h1>		<hr class="short">
				<span class="meta">
			We do amazing stuff
		</span>

        <span class="overlay"></span>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Warum mit uns?</h2>
                <p>Vor fünf Jahren habe ich für meine damals elfjährige Tochter den idealen Sprachkurs gesucht und festgestellt, dass es den für die jüngeren Jugendlichen nicht gibt. Diese Situation gepaart mit meinem Erfahrungshintergrund haben mich inspiriert 2012 selbst eine SprachSpaß-Reise für friends & family ins Leben zu rufen.

                    Schließlich bin ich sowohl Lehrerin, Mutter und Lerncoach als auch ehemalige Mitarbeiterin des weltgrößten Sprachreiseverantstalters und weiß, was Kinder brauchen und Eltern sich wünschen.
                </p>
                <ul>
                    <li>sehr persönliche, zugewendete Betreuung</li>
                    <li>homogene, kleine Lerngruppen</li>
                    <li>individualisierte Lernarrangements</li>
                    <li>kurze An- und Abfahrtswege</li>
                    <li>spaßige Ausflüge mit Erlebnischarakter</li>
                    <li>Gemeinschaft und Freunden </li>
                </ul>
                <p>Mein Beweggrund die Sprachreisen anzubieten sind Passion, Hobby und
                    Spaß, denn ich arbeite nach wie vor vollzeit als Lehrerin. Deshalb
                    spüren die Kinder wahrscheinlich, dass die Reisen mit Herz und
                    Engagement durchgeführt werden.</p>
                <div class="col-lg-3 col-md-6 text-center">

               </div>
            </div>
        </div>
    </div>

</section>
